language: php
php:
  - 7.2
  - 7.3
  - 7.4
  - 8.0

before_install:
  # Turn off XDebug
  - phpenv config-rm xdebug.ini || return 0

install:
  # Composer
  - travis_retry composer install --no-interaction --no-progress --prefer-dist

script:
  # Tests
  - composer test

after_failure:
  # Print *.actual content
  - for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done

jobs:
  include:
    - env: title="Lowest Dependencies 7.2"
      php: 7.2
      install:
        - travis_retry composer update --no-interaction --no-progress --prefer-dist --prefer-lowest
      script:
        - composer test

    - stage: cs
      php: 7.4
      script:
        - composer cs

#    - stage: Test Coverage
#      if: branch = master AND type = push
#      script:
#        - composer coverage
#      after_script:
#        - wget https://github.com/php-coveralls/php-coveralls/releases/download/v2.2.0/php-coveralls.phar
#        - php php-coveralls.phar --verbose --config .coveralls.yml
#
#  allow_failures:
#    - stage: Test Coverage

sudo: false

cache:
  directories:
    - $HOME/.composer/cache
